<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header_blue</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
</head>
<body>
<div th:replace="component/header :: content"></div>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
                <div class="col-6 justify-content-center">
                    <form th:action="@{/user/editPassword}" method="POST" class="row g-6">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">Old Password</label>
                            <input type="password" name="oldPassword" class="form-control"
                                   id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputPassword2">New Password</label>
                            <input type="password" name="newPassword" class="form-control"
                                   id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <div class="col-12 mt-2">
                            <button class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>