<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
</head>
<body>
<div th:replace="component/header :: content"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="col-md-auto">
    <form th:action="@{/feed/post}" th:object="${post}" method="POST" class="row g-6">
        <div class="form-group row">
            <label for="text" class="col-sm-2 col-form-label">Что нового?</label>
            <div class="col-sm-10">
                <input th:field="*{text}" type="text" class="form-control" id="text">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
            </div>
        </div>
    </div>
</body>
</html>