<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Подписки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header_blue</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
</head>
<body>
<div th:replace="component/header :: content"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Подписки</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="col-md-auto">
                <ol class="list-group list-group-numbered">
                    <th:block th:each="sub : ${subscriptions}">
                        <a th:href="@{/user/{id}(id = ${sub.getId})}"
                           class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><h3 th:utext="${sub.getUsername}"></h3></div>
                                <h5 th:utext="${sub.getBirthday}"></h5>
                                <h5 th:utext="${sub.getCountry}"></h5>
                            </div>
                        </a>
                    </th:block>
                </ol>
            </div>
        </div>
    </div>
</div>
</body>
</html>