<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Записи</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header_blue</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
</head>
<body>
<div th:replace="component/header :: content"></div>
<div class="list-group">
    <th:block th:each="post : ${posts}">
        <li class="list-group-item list-group-item-action" th:utext="${post.getText}">..</li>
        <li class="list-group-item list-group-item-action" th:utext="${post.getAuthor.getUsername}">..</li>
    </th:block>
</div>
</body>
</html>